<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Exemplares')}"></head>
<body class="bg-light">
<div class="d-flex">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div class="flex-grow-1 p-4">
        <div th:replace="~{fragments/topbar :: topbar('Exemplares')}"></div>
        <div class="card shadow-sm">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Livro</th>
                        <th>Autor</th>
                        <th>Exemplares</th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="book : ${books}">
                        <td th:text="${book.title}"></td>
                        <td th:text="${book.author}"></td>
                        <td th:text="${book.totalCopies}"></td>
                        <td>
                            <div class="d-flex gap-2">
                                <a th:href="@{/copies/book/{id}(id=${book.id})}" class="btn btn-sm btn-info">Gerenciar Exemplares</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>