<div th:fragment="sidebar"
     class="bg-primary text-white p-3"
     style="width: 250px; min-height: 100vh;">

    <div class="text-center mb-4">

        <img src="/img/logo.jpg"
             width="110"
             class="rounded shadow-sm mb-3">

        <h4 class="fw-bold">
            GEAL
        </h4>

        <p style="font-size: 14px;">
            Acervo Espírita
        </p>

    </div>

    <hr>

    <ul class="nav flex-column">

        <li class="nav-item mb-2">
            <a class="nav-link text-white" href="/dashboard"> Início </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link text-white" href="/books">Livros </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link text-white" href="/locations"> Localização </a>
        </li>

    </ul>

</div>