<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Estantes')}"></head>

<body class="bg-light">

<div class="d-flex">

    <!-- SIDEBAR -->
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <!-- CONTEÚDO -->
    <div class="flex-grow-1 p-4">

        <div th:replace="~{fragments/topbar :: topbar('Estantes')}"></div>

        <!-- TÍTULO -->
        <div class="mb-4">
            <h4 th:text="'Sala: ' + ${room.name}"></h4>
        </div>

        <!-- TOPO -->
        <div class="mb-4">
            <div class="d-flex gap-2 mb-3">
                <a th:href="@{/shelves/new(roomId=${room.id})}" class="btn btn-primary">Adicionar Estante</a>
                <a href="/locations" class="btn btn-secondary">Voltar</a>
            </div>
        </div>

        <!-- LISTA -->
        <div class="card shadow-sm">
            <div class="card-body">

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Estante</th>
                        <th>Quantidade de Prateleiras</th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="shelf : ${shelves}">
                        <td th:text="${shelf.name}"></td>
                        <td th:text="${shelf.positions.size()}"></td>
                        <!-- AÇÕES -->
                        <td>
                            <div class="d-flex gap-2">
                                <a th:href="@{/shelves/edit/{id}(id=${shelf.id})}" class="btn btn-sm btn-info">Entrar</a>
                                <a th:href="@{/shelves/edit/{id}(id=${shelf.id})}" class="btn btn-sm btn-warning">Editar</a>
                                <form th:action="@{/shelves/delete/{id}(id=${shelf.id})}" method="post">
                                    <button type="submit" class="btn btn-sm btn-danger">Excluir</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
       </div>
    </div>
</div>
</body>
</html>