<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Erro')}"></head>

<body class="bg-light">

<div class="container mt-5">

    <div class="card shadow-sm border-danger">

        <div class="card-body text-center">

            <h1 class="text-danger mb-4"> Erro </h1>

            <p th:text="${errorMessage}" class="fs-5">
            </p>
            <a href="javascript:history.back()" class="btn btn-primary mt-3"> Voltar </a>
        </div>

    </div>

</div>

</body>
</html>